// sass/styles.scss

$amarillo: #ffc107;
$rojo: #dc3545;
$verde: #198754;

@mixin estandar {
  margin: 1rem;
  padding: 1rem;
  background-color: $amarillo;
  border-radius: 0.5rem;
  color: #000;
}

.btn-personalizada {
  @include estandar;
  font-weight: bold;
}
